.director {
  font-family: $font;
  color: $font-color;
  padding-bottom: 120px;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  align-items: center;
  &__title {
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 40px;
    line-height: 72px;

    img{
      margin-left: 10px;
    }
  }

  &__img {
    width: 370px;
    height: 500px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    min-width: 370px;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 100%;
      width: auto;
      transform: translate(-50%, -50%);
    }
  }

  &__text {
    margin-left: 80px;
    max-width: 832px;
    p {
      font-size: 22px;
      line-height: 26.4px;
      margin-bottom: 30px;
    }
    ul {
      margin-bottom: 20px;
      margin-left: 20px;
    }
    li {
      font-size: 20px;
      color: $pink-color;
      line-height: 24px;
    }

    blockquote {
      background-color: #F3F6FF;
      padding: 20px;
      border-radius: 20px;
      font-weight: 500;
      font-style: italic;
      font-size: 18px;
      line-height: 28px;
    }
  }
}
