.statistics {
  position: relative;
  width: 100%;
  font-family: $font;
  color: $font-color;
  padding-bottom: 120px;

  &__title {
    font-size: 64px;
    font-weight: 700;
    position: relative;
    line-height: 72px;

    img {
      position: absolute;
      left: -56px;
      margin-bottom: 12px;
    }
  }

  &__container {
    position: relative;
    overflow-x: scroll;
    margin-left: -30px;
    margin-right: -330px;

    &::-webkit-scrollbar {
      height: 7px;
    }

    &::-webkit-scrollbar-track {
      background: #f4f4f6;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $pink-color;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-button {
      display: none;
      width: 0;
      height: 0;
    }
  }

  &__scroll-container {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;

    &::after {
      content: '';
      flex: 0 0 30px;
    }
  }

  &__block {
    width: 420px;
    height: 220px;
    padding: 30px 130px 30px 30px;
    background-color: #fff;
    box-shadow: 0px 0px 15px 0px #1b1a181a;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-right: 20px;
    p {
      font-weight: 700;
      text-align: left;
      &:nth-of-type(1) {
        color: $pink-color;
        line-height: 72px;
        font-size: 60px;
      }
      &:nth-of-type(2) {
        font-size: 18px;
        line-height: 21.6px;
        text-transform: uppercase;
      }
    }
  }
}

@media (max-width: 768px) {
  .statistics {
    padding-bottom: 100px;

    &__container {
      margin-left: 0;
      margin-right: 0;
    }

    &__scroll-container {
      margin-left: 10px;

      &::after {
        content: '';
        flex: 0 0 1px;
      }
    }

    &__block {
      width: 350px;
      height: 200px;

      p {
        &:nth-of-type(1) {
          font-size: 40px;
        }
        &:nth-of-type(2) {
          font-size: 16px;
        }
      }
    }
  }
}
